In [2]:
import pandas as pd

data = pd.read_csv('C:/Users/LENOVO/Desktop/DataMining/qsar-biodeg.xls')

In [3]:
display(data.columns)

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31',
       'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41',
       'Class'],
      dtype='object')

In [4]:
display(data.dtypes)

V1       float64
V2       float64
V3         int64
V4         int64
V5         int64
V6         int64
V7         int64
V8       float64
V9         int64
V10        int64
V11        int64
V12      float64
V13      float64
V14      float64
V15      float64
V16        int64
V17      float64
V18      float64
V19        int64
V20        int64
V21        int64
V22      float64
V23        int64
V24        int64
V25        int64
V26        int64
V27      float64
V28      float64
V29        int64
V30      float64
V31      float64
V32        int64
V33        int64
V34        int64
V35        int64
V36      float64
V37      float64
V38        int64
V39      float64
V40        int64
V41        int64
Class      int64
dtype: object

In [5]:
display(data.head())

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V33,V34,V35,V36,V37,V38,V39,V40,V41,Class
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,2
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,2
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,2
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,2
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,2

In [6]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

X = data.drop(columns=['Class'])  # On prend 2 features pour affichage facile
Y = data['Class']

# Séparation en données d'entraînement et test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

# Modèle SVM avec un noyau linéaire
svm_model = SVC(kernel='linear', probability=True)
svm_model.fit(X_train, Y_train)

# Prédictions
Y_pred = svm_model.predict(X_test)

# Évaluation du modèle
accuracy = accuracy_score(Y_test, Y_pred)
conf_matrix = confusion_matrix(Y_test, Y_pred)
class_report = classification_report(Y_test, Y_pred)

print(f"Exactitude : {accuracy:.2f}")
print("Matrice de confusion :\n", conf_matrix)
print("Rapport de classification :\n", class_report)

Exactitude : 0.85
Matrice de confusion :
 [[182  27]
 [ 19  89]]
Rapport de classification :
               precision    recall  f1-score   support

           1       0.91      0.87      0.89       209
           2       0.77      0.82      0.79       108

    accuracy                           0.85       317
   macro avg       0.84      0.85      0.84       317
weighted avg       0.86      0.85      0.86       317